{% extends "base.html" %}

{% block content %}
<div class="banner">
    <div class="container">       
        <p>{{ content }}</p>
    </div>
</div>

<div class="container section">
    <div class="text-center mb-5">
        <h2 style="color:black">Nossos produtos</h2>
    </div>
    <div class="row">
        {% for obj in object_list %}
            <div class="col-md-4 mb-4">
                {% include 'products/snippets/card.html' with instance=obj %}
            </div>
        {% endfor %}
    </div>

{% endblock %}

