{% extends "base.html" %}

{% block content %}
  {{ object.order_id }} -- {{ object.cart }}

  {% if not billing_profile %}
    <div class='row text-center'>
    <div class='col-12 col-md-6'>
        <p class='lead'>Login</p>
        {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
    </div>
    <div class='col-12 col-md-6'> 
       Continue como Convidado

        {% url "guest_register" as guest_register_url %}
        {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
    </div>

    </div>

  {% else %} 
    {% if not object.shipping_address %}

      <div class='row'>
        <div class='col-md-6 mx-auto col-10'>
            <p class='lead'>Enderço de Entrega</p>
            <hr/>
        {% url "checkout_address_create" as checkout_address_create %}
        {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
      </div>
    </div>

    {% elif not object.billing_address %}
    <div class='row'>
        <div class='col-md-6 mx-auto col-10'>
            <p class='lead'>Enderço de Cobrança</p>
            <hr/>
        {% url "checkout_address_create" as checkout_address_create %}
        {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
      </div>
    </div>
    {% else %}

  <h1 class="mb-4">Checkout</h1>
  <table class="table">
    <thead>
      <tr class="table-warning">
        <th>Descrição</th>
        <th>Valor</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light">
        <td>Total do carrinho:</td>
        <td>{{ object.cart.total }}</td>
      </tr>
      <tr class="table-warning">
        <td>Frete:</td>
        <td>{{ object.shipping_total }}</td>
      </tr>
      <tr class="table-secondary">
        <td>Total:</td>
        <td>{{ object.total }}</td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
     <button type="submit" class="btn btn-outline-success">Finalizar Compra</button>
  </div>
  {% endif %}
</div>
{% endif %}
{% endblock %}





