{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Carrinho</h1>
  {% if cart.products.exists %}
  <table class="table">
    <thead>
      <tr class="table-warning">
        <th>#</th>
        <th>Nome do produto</th>
        <th></th>
        <th>Preço do produto</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for product in cart.products.all %}
      <tr class="{% cycle 'table-light' 'table-warning' %}">
        <th scope="row">{{ forloop.counter }}</th>
        <td>
          <a style="text-decoration: none; color:black;" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
        </td>
        <td>
          <a  href='{{ product.get_absolute_url }}'></a>
          {% include 'products/snippets/update-cart.html' with product=product cart=cart in_cart=True  %}
        </td>
        <td>{{ product.price }}</td>
        <td></td> <!-- Coluna vazia -->
      </tr>
      {% endfor %}
      <tr class="table-secondary">
        <td colspan="3"></td> <!-- Coluna vazia -->
        <td ><b>Subtotal </b>{{ cart.subtotal }}</td>
        <td></td>
      </tr>

      <tr class="table-warning">
        <td colspan="3"></td> <!-- Coluna vazia -->
        <td><b>Total </b>{{ cart.total }}</td>
        <td></td>
      </tr>

      <tr>
        <td colspan="2"></td>
        <td><a class='btn btn-outline-success' href='{% url "cart:checkout" %}'>Finalizar Pedido</a></td>
      </tr>
    
    </tbody>
  </table>
 
  {% else %}
  <p class="lead">Carrinho vazio</p>
  {% endif %}
</div>
{% endblock %}
